:root {
    --tile-size: 50px;
    --tiles-per-side: 15;
}

div#board {
    display: grid;
    grid-template-columns: repeat(var(--tiles-per-side), var(--tile-size));
    grid-template-rows: repeat(var(--tiles-per-side), var(--tile-size));
}

div.tile {
    position: inline; 
}

div.tile > input {
    width: var(--tile-size);
    height: var(--tile-size);
    text-align: center;
    outline: 1px solid lightgray;
    border: none;
}

input.placedInput {
    background-color: gray;
}

input.newlyPlacedInput {
    background-color: red;
}

input.doubleLetterScore {
    background-color: yellow;
}

input.tripleLetterScore {
    background-color: orange;
}

input.doubleWordScore {
    background-color: blue;
}

input.tripleWordScore {
    background-color: purple;
}